html {
    font-family: Arial, Helvetica, sans-serif;
}

*:not(head) {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

body {
    margin: 0px;
}

.header {
    height: 8vh;
    width: 100vw;
    background-color: darkcyan;
    color: white;
    align-items: center;
    font-size: 32px;
}

.funny-title {
    width: 55vw;
}

.timer {
    width: 40vw;
    justify-content: right;
}

.container {
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.box-heading {
    height: 8%;
    width: 20%;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: darkblue;
}

.start-button {
    width: 8%;
    height: 5%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
}

.start-button:hover {
    cursor: pointer;
    background-color: black;
}